#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: aqua;
}

.bruno-heading {
  font-family: "Bruno Ace", sans-serif;
  /* font-size: 3.2em; */
  line-height: 1.1;
  @apply text-2xl sm:text-4xl;
  color: white;
}

nav.bg-gray-800 {
  display: block;
  text-align: start;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media (max-width: 768px) {
  body {
    /* flex-direction: column; */
    color: #213547;
    background-color: #18d4d4;
  }
}
